.about-box{
    /* background-color: #40B142; */
    padding: 30px 150px;
}

/* Mobile View */
@media screen and (max-width: 768px){
    .about-data{
        display: grid;
    }   
    .about-data p{
        margin-left: 16px;
        margin-right: 16px;
        font-size: 13px;
        font-family:'Poppins', sans-serif ;
        text-align: justify;
    }
}

/* Desktop View */
.about-title{
    position: relative;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color: rgb(65, 63, 63);
}

.about-img img{
    width: 100%;
    max-width: 700px;
    border-radius: 25px;
}

.about-data p {
    color: rgb(90, 88, 88);
    font-size: 16px;
}

@media screen and (min-width:768px) {
    .about-data p{
        margin-left: 50px;
        margin-right: 50px;
        font-size: 15px;
        text-align: justify;
    }
    .about-data{
        display: grid;
        grid-template-columns: 50% 50%;
    } 
}
