.footer {
  display: flex;
  flex-direction: column;
  background-color: #40B142;
  color: #000000;
  font-size: 16px;
}

.footer-data {
  display: flex;
  justify-content: space-around;
}

.contact-details {
  text-align: left;
  letter-spacing: 1.5px;
  margin: 15px;
}

.usefull-links {
  display: flex;
  flex-direction: column;
  text-align: left;
  text-decoration: none;
  letter-spacing: 1.5px;
  margin: 15px;
}

.usefull-links a {
  color: wheat;
}

.librarian-details {
  text-align: left;
  letter-spacing: 1.5px;
  margin: 15px;
}

.contact-details h1,
.usefull-links h1,
.librarian-details h1 {
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.contact-social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0px;
}

.social-icon {
  margin: 10px;
}

.copyright-details p {
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 1.15px;
  text-align: center;
  padding: 20px 10px;
}

.copyright-details span {
  font-size: 15px;
}

@media screen and (max-width: 768px) {
  .footer-data {
    display: flex;
    flex-direction: column;
  }
}
