.popularbooks-container{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}

.popularbooks{
    padding: 20px;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;	
    position: relative;
	display: flex;
    height: auto;
}

.popularbooks:hover div{
    animation-play-state: paused;
}

.popularbooks-title{
    padding: 30px 150px;
    position: relative;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 30px;
    color: rgb(65, 63, 63);
}

.popular-book:hover{
    transform: scale(1.15);
    transition: all ease 0.7s;
    animation-play-state: paused;
}

.popularbook-images{
    animation: marquee 15s linear infinite;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.popular-book{
    display: block;
    width: 150px;
    height: auto;
    margin: 0 1vw;
    border-radius: 5px;
}

@keyframes marquee {
	0%   { transform: translateX(0%); }
	100% { transform: translateX(-100%); }
}